body{
  font-family:sans-serif;
  background:#111;
  color:#fff;
  text-align:center;
}

#board{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:20px;
}

.tile{
  display:flex;
  border:2px solid #fff;
  margin:6px;
  background:#000;
}

.tile img{
  width:80px;
  height:80px;
  object-fit:contain;
}

.hand{
  opacity:.6;
  cursor:pointer;
}

.hand:hover{
  opacity:1;
}
